<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Análise do Petróleo – Azure</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div class="container">
    <h1>🔍 Previsão do Preço do Petróleo</h1>
    <p class="descricao">
        Esta aplicação utiliza técnicas de <b>análise de séries temporais</b> para prever 
        o preço do petróleo WTI com base em dados históricos disponibilizados pela U.S. Energy Information Administration.
    </p>

    <p class="descricao">
        O sistema foi desenvolvido em Python, hospedado no Azure App Service e utiliza 
        processamento automatizado para previsão dos próximos meses.
    </p>

    <a class="botao" href="/modelo">Ver modelo e previsões →</a>
</div>

</body>
</html>
